html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

main {
    display: flex;
    height: 100%;
    background: radial-gradient(99.9% 197.55% at 0.87% 1.07%, rgba(198, 33, 33, 0.184) 0%, rgba(198, 226, 23, 0.062) 92.69%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(243.73deg, rgba(43, 49, 193, 0.72) 5.91%, rgba(0, 0, 0, 0.72) 94.13%);
}

#auth-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    min-width: 400px;
    width: 450px;
    height: 420px;
    background: rgba(246, 247, 223, 0.89);
    border: 2px solid #A0A0A0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

#auth-form-card {
    height: 100%;
    width: 60%;
    padding: 60px 6px 0px 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#auth-form-card h1 {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 101.19%;
    text-align: center;
    letter-spacing: 0.07em;
    color: rgb(0, 0, 0);
}

#auth-form-card-input-login {
    width: 100%;
    height: 35px;
    margin-top: 15px;
    padding-left: 30px;
    background: url("images/login.png") no-repeat left;
    background-size: 25px;
    border: none;
    border-bottom: 1px solid;
    outline: none;
}

#auth-form-card-input-password {
    width: 100%;
    height: 35px;
    margin-top: 25px;
    padding-left: 30px;
    background: url("images/pass.png") no-repeat left;
    background-size: 25px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

#invalid-data {
    hidden: true;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 16px;
    color: rgba(255, 0, 0, 0.89);
}

#auth-form-card-auth-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    padding: 8px;
    border: none;
    background: rgba(164, 117, 102, 0.64);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

#auth-form-card-auth-btn:hover {
    background: rgba(132, 85, 67, 0.89);
    cursor: pointer;
}

#auth-form-card-auth-btn:active {
    background: rgba(184, 135, 117, 0.99);
}

#auth-form-card-any-actions {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 0;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.06em;
    color: rgb(0, 0, 0);
}

#auth-form-card-any-actions-reg {
    text-align: right;
    margin-bottom: 2px;
}

#auth-form-card-any-actions-fgt-pass {
    text-align: right;
    margin-top: 2px;
}

#auth-form-card-any-actions-reg:hover {
    cursor: pointer;
    color: rgba(4, 88, 184, 0.69);
}

#auth-form-card-any-actions-fgt-pass:hover {
    cursor: pointer;
    color: rgba(4, 88, 184, 0.69);
}

